.idea/
.claude/
/Atividade_1/target/
/Atividade_2/target/
/Atividade_3/target/
/Atividade_4/target/
/Atividade_5/target/
/Atividade_6/target/
/Atividade_7/target/
/Atividade_8/target/
/Atividade_9/target/
/Atividade_10/target/
/Atividade_11/target/
/Atividade_12/target/
/Atividade_13/target/
/Atividade_14/target/
/Projeto_1/target/